.ListItemIcon{
    color:#e0e0e0
}
/* Card styles */
.MuiCard-root {
    background-color: #1e1e1e; /* Dark card background */
    color: #e0e0e0; /* Light text color inside the card */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Dark shadow for better contrast */
  }
  
  /* Card media styles */
  .MuiCardMedia-root {
    border-bottom: 1px solid #333; /* Slightly lighter border for separation */
  }
  
  /* Typography styles */
  .MuiTypography-h5 {
    color: #ffffff; /* White color for headings */
  }
  
  .MuiTypography-body2 {
    color: #b0b0b0; /* Light gray color for body text */
  }

    #expandMoreButton{
    color: #e0e0e0; /* Color for expand icon */
}